<%= form_for @question, url: questions_path, html: {class: "pure-form pure-form-stacked"}, remote: true  do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<div id="markdown" style="border">

</div>


 <!-- <form class="pure-form pure-form-stacked">
        <fieldset>
          <label for="name">Your Name</label>
          <input type="text" id='name' placeholder='your name'>

          <label for="email">Your Email</label>
          <input id="email" type="text" placeholder="Your Email">

          <button type='submit' class="pure-button">Sign up</button>
        </fieldset>
      </form> -->